<h1>
  <%= current_owner.name %>'s Dashboard
  <div class="pull-right">
    <%= link_to new_restaurant_path, :class => 'btn' do %>
      New Restaurant
    <%- end %>
  </div>
</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <%- current_owner.restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant %></td>
      <td><%= link_to 'Remove', restaurant, :method => :delete, :confirm => "Are you sure that you want to remove #{restaurant.name}?" %></td>
    </tr>
  <%- end %>
</table>
