<h2>All your Restaurants</h2>

 <% @restaurants.each do |restaurant| %>
 	<% if current_owner == restaurant.owner %>
 		<p>	
 		<h3>
			<%= restaurant.name %>
			in
			<%= restaurant.city %>
		</h3>
		</p>
	<% end %>

	<div class="well">
	<h4>You have <%= restaurant.reservations.count.to_i %> reservations for <%= restaurant.name %></h4>
</div>

<% end %>

