# reservation_confirmation

<p><%= owner.name %>,</p>

<p>You have a new reservation!</p>

<p>Restaurant: <%= restaurant.name %></p>
<p>Patron Name: <%= reservation.name %></p>
<p>Date &amp; Time <%= reservation.requested_datetime %></p>

<p>Bon Apetit!</p>