

<html>

<body style="background-color:silver;">
<br>
<br>
<br>
<br>


<h1> Restaurants</h1>

  <%- if current_owner %>

    <div class="pull-right">

      <%= link_to 'New Restaurant', new_owner_restaurant_path(current_owner), :class => 'btn' %>

    </div>

  <%- end %>

</h1>



<ul class="thumbnails">

  <% @restaurants.each do |restaurant| %>

    <li class="span4">

      <%= link_to restaurant do %>

          <%= image_tag restaurant.photo.url if restaurant.photo? %>

        <h2><%= restaurant.name %><h2>

      <%- end %>

    </li>

  <% end %>

</ul>

</body>

</html>


