<h3>Find Reservster Categories Fast</h3>



<% @categories.each do |category| %>
	<p>
	<%= link_to(category.name + 'Add count of Restaurants', {:action => 'show', :id => category.id} ) %>
	</p>

<% end %>
