
<div style="float:left">
  <%= form_for @restaurant do |f| %>
    <p>
      <%= f.label :category_tokens, "Categories" %><br />
      <%= f.text_field :category_tokens %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
</div>

