<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
<div class="navbar navbar-fixed-top">

<div class="container">
	
	<div class="row">
		
		<div class="span9"><%= yield %></div>
		
		<div class="span3"></div>
			
			<h2> About Us </h2>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique in justo quis luctus. Sed risus nulla, consectetur eget bibendum sed, laoreet at nisi. Cras imperdiet rhoncus tortor, eget aliquet arcu. Donec congue non enim quis mattis. Cras a eros at lectus venenatis hendrerit et ut quam. Mauris aliquam eros sit amet leo lobortis sollicitudin. Ut sit amet aliquam lectus. Morbi vehicula suscipit magna vel feugiat. Proin feugiat sapien at mollis malesuada. Donec cursus pulvinar justo vel congue. Proin vitae nunc enim. 
	</div>

</div>
</div>

</body>
</html>
